.restaurant-card {
    padding: calc(var(--padding)/2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
    gap: calc(var(--padding)/2);
    background-color: var(--dark);
    border-radius:var(--bradius);
}

.restaurant-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restaurant-logo {
    width: 8rem;
    /* height: 8rem; */
    border-radius: var(--bradius);
}
.leaflet-popup-content-wrapper{
    background-color: transparent !important;
}
.leaflet-popup-content,
.leaflet-popup-content p {
    margin: 0 !important;
    width: fit-content !important;
    background-color: transparent !important;
}

.restaurant-name{
    font-weight: bold;
    color: var(--white);
    line-height: 1.2;
}
.restaurant-number{
    font-size:var(--fs-xs);
    text-align: center;
    width: 100%;
    display: block;
    color: var(--gray2);
}
.restaurant-actions{
    display: flex;
    gap: calc(var(--padding)/2);
    width: 100%;
    justify-content: center;
}
.restaurant-actions i{
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--main-color);
    height: 3rem;
    width: 3rem;
    border-radius:var(--bradius);
    display:flex ;
    align-items:center ;
    justify-content:center;
    background-color: var(--fourth-color);
}