.resto-cart-container{
    width: 25%;
    z-index: 2;
}
.resto-cart {
    background-color: var(--white);
    border-radius: var(--bradius);
    border: 1px solid var(--gray1);
    height: 85dvh;
    position: sticky;
    top: 6rem;
    /* color: var(--white); */
}

.resto-cart-header,
.resto-cart-item {
    padding: calc(var(--padding)/2) calc(var(--padding)/1);
    border-bottom: 1px solid var(--gray1);
}

/* .resto-cart-list{
    padding:calc(var(--padding)/2) calc(var(--padding)/1);
} */
.resto-cart-list{
    height: 72%;
    overflow-y: scroll;
}

.resto-cart-item {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.resto-cart-item-footer {
    display: flex;
    justify-content: space-between;
}

.resto-cart-item-prix {
    color: var(--white2);
    font-size: var(--fs-sm);
}

.resto-cart-item-action {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: fit-content;
}

.resto-cart-item-action i {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--white2);
}

.resto-cart-item-action i:hover {
    color: var(--main-color);
}

.resto-cart-footer {
    padding: calc(var(--padding)/2) calc(var(--padding)/1);
    border-top: 1px solid var(--gray1);
    position: absolute;
    bottom: 0;
    width: 100%;
    display:flex ;
    flex-direction:column ;
    gap:0.5rem;
    
}

.reto-cart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reto-cart-total-prix{
    font-size: var(--fs-md);
    font-weight: bold;
    color: var(--main-color);
}
.resto-cart-footer .button{
    width: 100%;
    display:flex ;
    align-items:center ;
    justify-content:center;
}
.cart-empty{
    display:flex ;
    align-items:center ;
    justify-content:center;
    height: 100%;
    flex-direction: column;
    color: var(--white2);
}
.cart-empty i{
    font-size: var(--fs-xl);
}
.card-shadow{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 1;
    background-color: var(--dark);
    opacity: 0;
    display: none;
}
.card-shadow.active{
    opacity: 0.8;
    display: block;
}
.btn-card{
    display:none;
    background-color: var(--dark);
    font-size: var(--fs-md);
    position: relative;
    z-index: 1;
}
.btn-card-quantite{
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    display:flex ;
    align-items:center ;
    font-size: var(--fs-sm);
    justify-content:center;
    background-color: var(--main-color);
}
@media screen and (max-width:1200px) {
    .resto-cart-container{
        position: fixed;
        right: 0;
        top:var(--margin-top);
        bottom: 0;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
       
    }
    .resto-cart-container.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        width: 80%;
    }
    .resto-cart{
        height: 100%;
    }
 .btn-card{
    display: block;
    position: fixed;
    bottom: 5rem;
 }
}