.localisation-line{
    display:flex;
    align-items: flex-end;
    gap: 0.5rem;
}
.localisation-line .form-group{
    width: 38%;
}
.localisation-line .button{

}
.skip-step-container{
    display:flex ;
    align-items:center ;
    justify-content:center;
    padding:calc(var(--padding)/1);
    
}
.skip-step{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    font-size: var(--fs-md);
}
.skip-step:hover{
    color:var(--main-color);
}
.day-line{
    display: flex;
    gap: 1rem;
}
.day-line .form-group{
    flex:1;
}