.resto-info{
    display: flex;
    gap: 1rem;
    padding:calc(var(--padding)/1) calc(var(--padding)*4);
    background-color: var(--white);
    border-bottom: 1px solid var(--gray1);
}
.resto-text{
    display:flex ;
    flex-direction:column ;
    justify-content: center;
}
.resto-logo{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}
.resto-name{
    font-weight: bold;
    font-size: var(--fs-lg);
    color: var(--main-color);
}
.resto-details{
    display: flex;
    gap: 1rem;
}
.resto-detail{
    color: var(--white2);
    display: flex;
    gap: 0.25rem;
    align-items: center;
}
.resto-description{
    color: var(--white2);

}