.resto-menu{
    width: 75%;
}
.resto-menu.full{
    width: 100%;
}
.resto-menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.5rem;
}
.resto-menu-header{
    display: flex;
    align-items: center;
}
.resto-menu-header .form-group{
    width: 40%;
}
.resto-menu .tabs{
    width: 60%;
}
.resto-menu-header .form-group .form-input{
    /* padding: calc(var(--padding) / 4) calc(var(--padding) / 2); */
    font-size: var(--fs-sm);
}
.no-results{
    display:flex ;
    align-items:center ;
    justify-content:center;
    background-color: var(--white);
    height: 30rem;
    border-radius:var(--bradius);
    border: 1px solid var(--gray1);
    font-size: var(--fs-md);
}
@media screen and (max-width:1200px) {
    .resto-menu{
    width: 100%;
}.resto-menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 0.5rem;
}
}