.logo-container {
  position: relative;
  width: 100px; /* taille réelle du logo */
  height: 50px; 
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
    zoom: 140%;
    /* background-color: var(--white); */
}

.logo-img {
    height: 5rem;
    width: 5rem;
  object-fit: contain;
}
